service: cloudretail-inventory-lambda

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    DB_HOST: ${env:DB_HOST}
    DB_USER: ${env:DB_USER}
    DB_PASS: ${env:DB_PASS}
    DB_NAME: ${env:DB_NAME}

functions:
  checkInventory:
    handler: index.handler
    events:
      - http:
          path: inventory/check
          method: post
